
<style>
    .geneviewcontrol {
        border: 1px dotted #8d99a8;
        padding: 5px;
    }

    .gvcontrol-selector {
        padding: 2px;
    }

    .form-inline {
        padding: 2px;
    }


</style>
<div class="col-md-12 geneviewcontrol">

    <div class="gvcontrol-selector form-group">
        <h4>Chrmosome {{chr}}</h4>
        <div class="form-inline">
            <label>Start:</label> <input class="form-control" type="number" ng-model="selStart" ng-change="updateSelector()" style="text-align: right" min="1"/>
            <label>Stop:</label> <input class="form-control" type="number" ng-model="selStop" ng-change="updateSelector()" style="text-align: right" min="1" />
        </div>
        
        <div class="form-inline">


            <form>
                <label>Resolution: </label>
                <label class="radio-inline">
                    <input type="radio" name="{{name}}" ng-click="updateResolution(400)"> 400
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{name}}" ng-click="updateResolution(550)" checked> 550
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{name}}" ng-click="updateResolution(850)"> 850
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{name}}" ng-click="updateResolution(1200)"> 1200
                </label>
            </form>


        </div>
        <div>
            <form>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="chrSettings.showAxis" ng-click="render()"> Show Axis
                </label>

                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="chrSettings.relativeSize" ng-click="render()"> Relative Chromosome Size
                </label>
                <!--<label class="checkbox-inline">-->
                    <!--<input type="checkbox" ng-model="chrSettings.showDetails" ng-click="render()"> Show Details-->
                <!--</label>-->
                <!--<label class="checkbox-inline">-->
                    <!--<input type="checkbox" ng-model="chrSettings.articleStats" ng-click="render()"> Show Article Stats-->
                <!--</label>-->
            </form>

        </div>
    </div>
    <hr/>
    <geneview chr="{{chr}}" show-status="true" phenotypes="true" detail-window="true"></geneview>
</div>